.topLine {
  background-image: url('../../public/images/top_main_line.png');
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: 50% 50%;
}

.topColor {
  background-image: url('../../public/images/top_main_color.png');
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: 50% 50%;
}
